.wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-bottom: 2rem;
}

.output-canvas {
  margin-top: 1rem;
}
